@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('http://fonts.cdnfonts.com/css/league-spartan');

html, body {
    background-color: #4458be;
    text-align: center;
    min-height: 100%;
    min-width: 100%;
}


.container {
    background-color: #4458be;
    min-width: 100%;
    text-align: center;
}

.card,.card-body{
    background-color: #4458be;
    color: white;
    font-family: 'Sanchez';
}

.card{
    padding-right:0;
    padding-left:0;
    border:none;
    margin: auto;
}





