@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('http://fonts.cdnfonts.com/css/league-spartan');


body{
    background-color: #3657a9;
}

.leftpart h1{
    font-size: 65.7px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    float: left;
}

.leftpart p,h4{
    font-size: 27.3px;
    float: left;
    margin-top: -25px;
    /* white-space: initial; */
    word-wrap: break-word;
}

.leftpart{
    font-family: 'Sanchez';
    color: white;
    text-align: left;
    float: left;
	width: 60%;
	padding: 50px 0;
    position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
    /* height: 100vh; */
}

.sign-form {
    margin: auto;
    margin-top: 100px;
    position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:60%;
}

.linkto{
    margin-left: 50px;
}

.text {
    font-family: 'League Spartan', sans-serif;
    background-color: #4458be;
    border-radius: 20px;
    color: white;
    height: 50px;
    width: 400px;
    border-width: 0ch;
    margin: 5px;
}

::placeholder { 
    color: #dbe9f4;
    opacity: 10; /* Firefox */
    align-content: center;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
  }

.button {
    /* background-color: #4458be; */
    border-radius: 20px;
    /* color: white; */
    height: 50px;
    width: 400px;
    border-width: 0ch;
    margin: 5px;
    margin-top: 10px;
    font-family: 'League Spartan', sans-serif;
}

.linkto,.linkto2,.linkto3{
    color: #dbe9f4;
    font-family: 'League Spartan', sans-serif;
    /* text-align: center; */
}

.linktor,.linkto1{
    color: white;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
}

.linkto1{
    margin-left: 200px;
}

.linkto2{
    margin-left: 150px;
}

.address{
    height: 200px;
    width:400px;
}

/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
    margin-left: 80px;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }